#wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  overflow: auto;
  background: white;
}

#left {
  height: 100vh;
  float: left;
  width: 50%;
  background: white;
}

#right {
  float: right;
  width: 50%;
  height: 100vh;
  background: white;
}

#Calc {
  position: absolute;
  left: 68%;
  top: 5vh;
  margin: 5px;
}

#chooser {
  position: absolute;
  left: 72%;
  margin: 5px;
  top: 30vh;
}

#ansback {
  position: absolute;
  left: 67%;
  margin: 5px;
  top: 30vh;
}

#ansnext {
  position: absolute;
  left: 77%;
  margin: 5px;
  top: 30vh;
}

.Show {
  position: absolute;
  top: 35vh;
  left: 51%;
  height: 65vh;
  width: 48%;
  border: 0;
  opacity: 100;
}

.Hide {
  position: absolute;
  top: 35vh;
  left: 51%;
  height: 65vh;
  width: 48%;
  border: 0;
  opacity: 0;
}

#PDF {
  width: 100%;
  height: 100vh;
  float: left;
  border: 0;
}

#input {
  text-align: center;
  margin: 5px;
}